{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  <div>
    {% render 'product_reviews', rating: avg_rating %}
  </div>
</span>

{% schema %}
  {
    "name": "Product Reviews",
    "target": "section",
    "settings": [
      {
        "type": "color",
        "id": "colour",
        "label": "Star Color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}