{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  {% render 'avg_rating', rating: avg_rating %}
</span>

{% schema %}
  {
    "name": "Average Rating",
    "target": "section",
    "settings": [
      {
        "type": "color",
        "id": "colour",
        "label": "Star Color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}